.reservation {
  background-color: #d9e7ff;
  background-size: cover;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.reservation__title {
  display: flex;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
  padding-top: 100px;
}

.reservation__form {
  margin: 0 auto 120px;
}
